<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update Employee</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
<div class="container">
  <h2>Update Employee</h2>
  <form action="/saveEmployee" method="post" th:object="${employee}">
    First Name: <input type="text" th:field="*{firstName}" /><br>
    Last Name: <input type="text" th:field="*{lastName}" /><br>
    Email: <input type="email" th:field="*{email}" /><br>
    <input type="submit" value="Update" />
  </form>
</div>
</body>
</html>
